@page "/"

<table class="table">
    <tbody>
        <tr>
            <td>Meta x Turno</td>
            <td>@_productivity.Goal</td>
        </tr>
        <tr>
            <td>Meta Acumulada</td>
            <td>@_productivity.CummulativeGoal</td>
        </tr>
        <tr>
            <td>Acumulado</td>
            <td>@_productivity.CummulativeActual</td>
        </tr>
        <tr>
            <td>Cumplimiento</td>
            <td>@_productivity.Complaince</td>
        </tr>
    </tbody>
</table>